body{
    text-align: center;
}
header{
    h1{
        margin: 0.2%;
    }
}
.pendu{    
    width: 35%;
    height: 20%;
}
.lettre{
    width: 50px;
    height: 50px;
    margin: 5px;
    color: white;
    background-color: rgb(110, 93, 93);
    font-weight: bold;
    font-family: monospace;
}
.reset{
    width: 150px;
    height: 50px;
    background-color: red;
}
@media(min-width: 900px){
    .pendu{
        width: 20%;
        height: 20%;
    }
}
